:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --text1-color: #ffffff;
  --text2-color: #757575;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo2-color: #000;
  --border-color: #eee;
}

body {
  font-family: Roboto;
  letter-spacing: 0.03em;
}

/* container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid red;
}

/* header and footer */

.header-nav {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-left: 93px;
  margin-right: 344px;
}

.pages-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
  text-decoration: none;
}

.contact-list {
  display: flex;
  gap: 50px;
}

.contact-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text2-color);
  text-decoration: none;
  font-style: normal;
  margin-top: 9px;
  display: flex;
}

.pages-item:hover,
.contact-item:hover {
  color: var(--accent-color);
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-list2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: var(--text1-color);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}

.logo,
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: var(--accent-color);
  text-decoration: none;
}

.logo2 {
  color: var(--logo2-color);
}

.footer-logo2 {
  color: var(--text1-color);
}

/* nav */

.nav-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.nav-item {
  height: 38px;
}

.nav-link {
  cursor: pointer;
  border-radius: 4px;
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
  padding: 6px 22px;
}

.nav-link:hover {
  cursor: pointer;
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--text1-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
}

/* main */

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.project-item {
  display: flex;
  margin-bottom: 30px;
}

.project-card {
  border: 1px solid var(--border-color);
}

.project-img {
  width: 370px;
  height: 294px;
}

.project-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}

.project-type {
  color: var(--text2-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  padding-bottom: 20px;
  padding-left: 24px;
}
