:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --text1-color: #ffffff;
  --text2-color: #757575;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo2-color: #000;
}

body {
  font-family: Roboto;
  letter-spacing: 0.03em;
}

/* container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid red;
}

/* header and footer*/

.header-nav {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-left: 93px;
  margin-right: 344px;
}

.pages-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
  text-decoration: none;
}

.contact-list {
  display: flex;
  gap: 50px;
}

.contact-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text2-color);
  text-decoration: none;
  font-style: normal;
  margin-top: 9px;
  display: flex;
}

.pages-item:hover,
.contact-item:hover {
  color: var(--accent-color);
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-list2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: var(--text1-color);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}

.logo,
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: var(--accent-color);
  text-decoration: none;
}

.logo2 {
  color: var(--logo2-color);
}

.footer-logo2 {
  color: var(--text1-color);
}

/* section with button */

.button-section {
  background: var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--text1-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  
}

.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text1-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  text-align: center;
}

/* advantages section */

.adv-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.adv-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.adv-item {
  outline: solid green;
}

.adv-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 10px;
}
.adv-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: var(--text2-color);
  display: flex;
}

/* images */

.img-section {
  padding-bottom: 94px;
}

.img-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 50px;
}

.img-list {
  display: flex;
  gap: 30px;
}

.img-item {
  width: 370px;
  height: 294px;
}

/* team */

.team-section {
  background: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-card {
  background-color: var(--text1-color);
}

.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: var(--text2-color);
  padding-bottom: 30px;
}

.team-img {
  width: 270px;
  height: 260px;
}
