:root {
  accent-color: #2196f3;
  text-color: #212121;
  text1-color: #ffffff;
  text2-color: #757575;
  background-color: #f5f4fa;
  footer-color: #2f303a;
  logo2-color: #000;
}

body {
  font-family: Roboto;
  letter-spacing: 0.03em;
}

/* header and footer */

.logo,
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #2196f3;
  text-decoration: none;
}

.logo2 {
  color: #000;
}

.footer-logo2 {
  color: #ffffff;
}

.pages-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  text-decoration: none;
}

.contact-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  text-decoration: none;
  font-style: normal;
}

.pages-item:hover,
.contact-item:hover {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.contact-addres {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

/* nav */

.nav-link {
    cursor: pointer;
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
  }
  
  .nav-link:hover {
    cursor: pointer;
    border-radius: 4px;
    background: #2196f3;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
  }

/* main */

.project-name {
    color: #212121;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0,06em;
}

.project-type {
    color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.8;
}